<?xml version="1.0" encoding="utf-8"?>
<plugin version="php">
<id>SEL_IL</id>
<name>SEO_站内文章引用</name>
<url>https://ropean.org</url>
<note>编辑文章时可选择在正文中引入: 最新、随机、热门、热评文章</note>
<description></description>
<path></path>
<include>include.php</include>
<level>1</level>
<author>
  <name>Ropean</name>
  <email>service@ropean.org</email>
  <url>https://ropean.org</url>
</author>
<source>
  <name></name>
  <email></email>
  <url></url>
</source>
<adapted>151935</adapted>
<version>2.0</version>
<pubdate>2023-09-06</pubdate>
<modified>2023-09-06</modified>
<price>0</price>
<phpver>5.4</phpver>
<advanced>
  <dependency></dependency>
  <rewritefunctions></rewritefunctions>
  <existsfunctions></existsfunctions>
  <conflict></conflict>
</advanced>
<sidebars>
  <sidebar1></sidebar1>
  <sidebar2></sidebar2>
  <sidebar3></sidebar3>
  <sidebar4></sidebar4>
  <sidebar5></sidebar5>
  <sidebar6></sidebar6>
  <sidebar7></sidebar7>
  <sidebar8></sidebar8>
  <sidebar9></sidebar9>
</sidebars>
</plugin>